In [1]:
#Any groupby operation involves one of the following operations on 
#the original object. They are −
#
#   Splitting the Object
#   Applying a function
#   Combining the results

#In many situations, we split the data into sets and we apply 
#some functionality on each subset. In the apply functionality,
#we can perform the following operations −
#
#   Aggregation − computing a summary statistic
#   Transformation − perform some group-specific operation
#   Filtration − discarding the data with some condition

In [3]:
import pandas as pd
ipl_data = {'Team':['Riders','Riders',
                    'Devils','Devils',
                    'Kings','Kings','Kings','Kings',
                   'Riders',
                   'Royals','Royals',
                   'Riders'],
           'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
           'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
           'Points':[876,789,863,673,741,812,756,788,694,701,804,690]
           }
df=pd.DataFrame(ipl_data)
df

    Points  Rank    Team  Year
0      876     1  Riders  2014
1      789     2  Riders  2015
2      863     2  Devils  2014
3      673     3  Devils  2015
4      741     3   Kings  2014
5      812     4   Kings  2015
6      756     1   Kings  2016
7      788     1   Kings  2017
8      694     2  Riders  2016
9      701     4  Royals  2014
10     804     1  Royals  2015
11     690     2  Riders  2017

In [4]:
#Split Data into Groups
#Pandas object can be split into any of their objects. 
#There are multiple ways to split an object like −
#
#  obj.groupby('key')
#  obj.groupby(['key1','key2'])
#   obj.groupby(key,axis=1)
df.groupby('Team')

In [5]:
#View Groups
df.groupby('Team').groups

{'Devils': Int64Index([2, 3], dtype='int64'),
 'Kings': Int64Index([4, 5, 6, 7], dtype='int64'),
 'Riders': Int64Index([0, 1, 8, 11], dtype='int64'),
 'Royals': Int64Index([9, 10], dtype='int64')}

In [6]:
#Group by with multiple columns −
df = pd.DataFrame(ipl_data)
df.groupby(['Team','Year']).groups

{('Devils', 2014): Int64Index([2], dtype='int64'),
 ('Devils', 2015): Int64Index([3], dtype='int64'),
 ('Kings', 2014): Int64Index([4], dtype='int64'),
 ('Kings', 2015): Int64Index([5], dtype='int64'),
 ('Kings', 2016): Int64Index([6], dtype='int64'),
 ('Kings', 2017): Int64Index([7], dtype='int64'),
 ('Riders', 2014): Int64Index([0], dtype='int64'),
 ('Riders', 2015): Int64Index([1], dtype='int64'),
 ('Riders', 2016): Int64Index([8], dtype='int64'),
 ('Riders', 2017): Int64Index([11], dtype='int64'),
 ('Royals', 2014): Int64Index([9], dtype='int64'),
 ('Royals', 2015): Int64Index([10], dtype='int64')}

In [ ]:
#Iterating through Groups
#With the groupby object in hand, we can iterate through the 
#object similar to itertools.obj.